
/* css cho nhung tab tam an */

/* Man chan */
.manChanAll{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	filter: opacity(0.7);
	z-index: 100;
	/* display: none; */
}

/* tab myinfo */
.myinfomation{
	position: fixed;
	top: 0px;
	left: 5px;
	width: 965px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #ddd;
	z-index: 1000;
	margin: 58px 70px;
	border-radius: 8px;
	display: none;
}
.infoleft{
	position: absolute;
	height: 100%;
	width: 399px;
	top: 0px;
	left: 0px;
	/* background-color: #F172A1; */
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-right: thistle 1px solid;
}
.infobottom{
	position: absolute;
	width: 400px;
	height: 250px;
	background-color: #eee;
	border-top: #979A9A 1px solid;
	border-right: #979A9A 1px solid;
	bottom: 0px;
	left: 0px;
	border-bottom-left-radius: 8px;
	color: #000;
	
}
.infobottom div{
	color: #000;
	font-size: 18px;
	border: thistle 1px solid;
}
.infobottom span{
	color: #000;
	font-size: 18px;
}
.infochild1{
	width: 190px;
	height: 30px;
	margin: 5px;
	margin-right: 0px;
	background-color: white;
	display: inline-block;
	border-radius: 3px;	
}
.infochild2{
	width: 190px;
	margin: 5px;
	margin-right: 0px;
	background-color: white;
	display: inline-block;
	border-radius: 3px;		
}
.infochild3{
	width: 390px;
	min-height: 50px;
	margin: 5px;
	margin-right: 0px;
	background-color: white;
	display: block;	
	overflow: auto;
	border-radius: 3px;	
}
#myslogan{
	max-height: 60px;
}
.hisright{
	position: absolute;
	height: 100%;
	width: 565px;
	background-color: #ddd;
	right: 0px;
	top: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow-y: auto;
	overflow-x: hidden;
	color: #000;
}
.hisright::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
	border-radius: 8px;
}
.hisright::-webkit-scrollbar-thumb {
	border-radius: 8px;
    background-color: gray;
}
.hisright::-webkit-scrollbar-track {
	border-radius: 8px;
    background-color: #eee;
} 
.avttop{
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: darkcyan;
	border-radius: 50%;
	top: 20px;
	left: 50px;
	overflow: hidden;
	border: 1px thistle solid;
}
.avttop img{
	width: 100%;
 	height: 100%;
	object-fit: cover;
	object-position: center;  
}
.doiavt{
	position: absolute;
	width: 300px;
	height: 0px;
	background-color: #E64398;
	bottom: 0px;
	text-align: center;
	transition: 1s;
}
.doiavt form input{
	margin-top: 10px;
	line-height: 1;
	font-family: inherit;
	font-size: 24px;
	background-color: inherit;
	outline: none;
	border: none;
	/* display: block; */
}
.doiavt form input:hover{
	color: blueviolet;
}
.avttop:hover .doiavt{
	height: 80px;
	background-color: #00a1f2;
}
.myhis{
	/* position: absolute; */
	margin-top: 40px;
	margin-left: 50px;
}

.exit{
	font-size: 24px;
	position: absolute;
	right: 2px;
	top: 0px;
	border-top-right-radius: 8px;
	color: #585858;
}



/* form đăng bài */
.createtus{
	position: fixed;
	top: 22px;
    left: 280px;
	width: 500px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #eeeeee;
	z-index: 1000;
	margin: 30px 70px;
	border-radius: 8px;
	opacity: 1;
	/* display: none; */
}
#createtus{
	display: none;
}
.whead{
	width: 500px;
	border: none;
}
#nickname{
	position: absolute;
	top: 8px;
	left: 50px;
	color: #000;
}
.mytus{
    position: absolute;
    top: 42px;
    width: 498px;
    height: 100px;
	border-top: thistle 1px solid;
	border-bottom: thistle 1px solid;
	overflow: auto;
	color: #000;
	z-index: 100;
}
.mytus::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.mytus::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
.mytus::-webkit-scrollbar-track {
    background-color: #eee;
} 
#mytus{
	color: #000;
	margin: 10px;
	margin-right: 20px;
	font-size: 18px;
}
.dele{
	position: absolute;
	background-color:inherit;
	color: #E64398;
	top: 45px;
	right: 7px;
	padding: 0px;
	font-size: 24px;
	z-index: 200;
}
.okok{
	position: absolute;
	background-color:#E64398;
	color: #000;
	top: 75px;
	right: 7px;
	padding: 0px;
	z-index: 200;
	border: thistle 1px solid;
	font-size: 14px;
	border-radius: 8px;
	width: auto;
	float: left;
	padding: 5px;
	cursor: pointer;
}
.myimage{
    position: absolute;
	top: 142px;
	/* width: 499px;
	height: 282px; */
    max-width: 499px;
	max-height: 282px;
	border: none;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100;
	overflow: hidden;
	color: black;
}
.preview{
    width: 499px;
	height: 282px;
	object-position: center center;
	-o-object-position: center center;
	object-fit: cover;
	-o-object-fit: cover;
	/* border: blue 3px solid; */
}
.customupanh{
	position: absolute;
	overflow: hidden;
	background-color: #FCFBFB;
	height: 110px;
	width: 110px;
	text-align: center;
	border: 2px gray dashed;
	top: 220px;
	left: 180px;
}
.fakeicon{
	margin-left: -30px;
	position: absolute;
	font-size: 100px;
	font-weight: bold;
	font-family: arial;
	color: #F172A1;
}
.themanh{
	position: absolute;
	margin-left: 3px;
	margin-top: 90px;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	color: #585858;
}
.upanh{
    width: 110px;
    height: 110px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align: center;
}



/* thư viện tus */
.libralytus{
	position: relative;
	width: 500px;
	height: 120px;
	background-color: #dddddd;
	top: 430px;
	overflow-y: auto;
}
.libralytus::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.libralytus::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
.libralytus::-webkit-scrollbar-track {
    background-color: #eee;
} 
.buttontus{
	color: black;
	border: thistle 1px solid;
	font-size: 14px;
	border-radius: 8px;
	width: auto;
	float: left;
	margin: 2px 5px 2px 2px;
	padding: 3px;
	background-color: white;
	cursor: pointer;
	
}
/* //// */
#myftus{
	position: absolute;
	z-index: 99;
	border: hidden;
	background-color: #eee;
}
#myfimg{
	position: absolute;
	z-index: 99;
	border: hidden;
	background-color: #eee;
}
.danganhlen{
	position: absolute;
	width: 500px;
	height: 40px;
	background-color: chocolate;
	bottom: 0px;
	border: none;
	outline: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}


/* tabs nhan tin/ */

.mymess{
	position: fixed;
	top: 0px;
	left: 5px;
	width: 965px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #ddd;
	z-index: 1000;
	margin: 58px 70px;
	border-radius: 5px;
	display: none;
	color: #585858;
}
.leftmess{
	position: absolute;
	height: 100%;
	width: 250px;
	/* background-color: #F172A1; */
	border-right: thistle 1px solid;
	border-bottom-left-radius: 5px;
}
.kindleft{
	position: absolute;
	width: 100%;
	height: 42px;
	/* background-color: aqua; */
	padding: 0px;
	border-bottom: #979A9A 1px solid;

}
.kindcon{
	/* display: inline-block; */
	width: 125px;
	height: 42px;
	background-color:#F172A1;
	border: none;
	outline: none;
	margin: 0px;
	float: left;
	color: #000;
	font-size: 18px;
}
.kindcon:hover{
	background-color: #E64398;
}
#nguoila{
	border-top-left-radius: 5px;
	border-right: #979A9A 1px solid;
}
.listmess{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 547px;
	/* background-color: cornflowerblue; */
	border-bottom-left-radius: 5px;
	overflow: auto;
}
.eachmess{
	width: 225px;
	margin: 5px;
	height: 50px;
	color: black;
	background-color: white;
	border-radius: 5px;
}
.rightmess{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 714px;
	height: 100%;

	display: inline-block;
}
.headright{
	width: 100%;
	height: 42px;
	background-color: hotpink;
	border-bottom: #979A9A 1px solid;
	border-top-right-radius: 5px;
}
#avtmess{
	position: absolute;
	left: 3px;
}
#money{
	position: absolute;
	/* color: #F172A1; */
	border-radius: 50%;
	top: 5px;
	right: 70px;
}
#exitmess{
	font-size: 24px;
	position: absolute;
	right: 2px;
	top: 8px;
	color: #585858;
}

.contentmess{
	width: 100%;
	height: 455px;
	border-bottom: thistle 1px solid;
	overflow: auto;
}
.chucnangmess{
	background-color: #eee;
	width: 100%;
	height: 40px;
	color: #00a1f2;
	border-bottom:thistle 1px solid;
}
.askinfo{
	background-size: cover;
	background-position: center;
	margin: 3px;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	border: none;
	outline: none;
	background-color: #F172A1;
	border-radius: 5px;
	padding: 2px;
}
#askname{
	background-image: url(../img/askname.png);
}
#askphone{
	background-image: url(../img/askphone.png);
}
#askpos{
	background-image: url(../img/askpos.png);
}
#tangqua{
	background-image: url(../img/gift.png);
	position: absolute;
	margin-top: 3px;
	right: 70px;
}
#morongcn{
	position: absolute;
	margin-top: 3px;
	right: 2px;
}
.nhaptinnhan{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0px;

}
#onhapmess{
	width: 660px;
	height: 40px;
	margin: 2px;
	text-align: left;
	color: #000;
	font-size: 18px;
	padding-top: 2px;
	padding-left: 2px;
	border: none;
}
#sendmess{
	position: absolute;
	right: 2px;
	top: 8px;
	color: black;
}

#othongbao{
	position: fixed;
	top: 48px;
	right: 260px;
	width: 150px;
	height: 200px;
	background-color: white;
	border: thistle 1px solid;
	border-radius: 5px;
	z-index: 1000;
	display: none;
}

#sukienhai{
	position: fixed;
	top: 0px;
	width: 280px;
	height: 50px;
	background-color: unset;
	z-index: 100;
	right: 30px;
	display: none;
}
#sukienhai button{
	width: 85px;
	height: 50px;
	background-color: unset;
	border: none;
}
#omoney{
	position: fixed;
	top: 48px;
	right: 130px;
	width: 150px;
	height: 200px;
	background-color: white;
	border: thistle 1px solid;
	border-radius: 5px;
	z-index: 1000;
	display: none;
}
#omoney button{
	color: black;
}
#otuychon{
	position: fixed;
	top: 48px;
	right: 0px;
	width: 150px;
	height: 200px;
	background-color: white;
	border: thistle 1px solid;
	border-radius: 5px;
	z-index: 1000;
	display: none;
	
}
#otuychon span{
	color: black;
}
.logout,.caidat{
	color: #000;
	width: 100px;
	height: 30px;
	margin-top: 10px;
	margin-left: 25px;
	transition: 1s;
	border: hidden;
	outline: none;
}
.logout:hover,.caidat:hover{
	background-color: #00a1f2;
}
/* comment  */
.commenttus{
	position: fixed;
    top: 0px;
    left: 280px;
	width: 500px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #eeeeee;
	z-index: 1000;
	margin: 58px 70px;
	border-radius: 8px;
	display: none;
}

.cmthead{
	width: 100%;
	height: 42px;
	border: hidden;
	border-bottom: thistle 1px solid;
}
.blcosan{
	position: absolute;
	width: 100%;
	height: 280px;
	top: 43px;
	overflow: auto;
	border-bottom: thistle 1px solid;
	background-color: #dddddd;
}
.cmtcosan{
	width: 490px;
	margin: 5px;
	height: 50px;
	color: black;
	background-color: white;
	border-radius: 5px;
}
.mycmttus{
	position: absolute;
	width: 100%;
	height: 100px;
	top: 322px;
	overflow: auto;
	border-bottom: thistle 1px solid;

}
.delecmt{
	position: absolute;
	background-color:inherit;
	color: #E64398;
	bottom: 205px;
	right: 20px;
	padding: 0px;
	font-size: 24px;
}
#mycmt{
	color: black;
	margin-right: 20px;
	font-size: 18px;
}
.librarycmt{
	position: absolute;
	width: 100%;
	height: 123px;
	bottom: 42px;
	overflow: auto;
	/* border: thistle 1px solid; */
	background-color: #eee;
}
#bxhcanhan{
	position: fixed;
	top: 0px;
	left: 5px;
	width: 960px;
	height: 580px;
	border: 1px #00a1f2 solid;
	background-color: #eee;
	z-index: 1000;
	margin: 58px 70px;
	border-radius: 5px;
	display: none;
	color: #585858;
}
#nguoiquantam{
	position: fixed;
	top: 0px;
	left: 5px;
	width: 830px;
	height: 580px;
	border: 1px #00a1f2 solid;
	background-color: #eee;
	z-index: 1000;
	margin: 58px 170px;
	border-radius: 5px;
	display: none;
	color: #585858;
	overflow: auto;
}
#nguoiquantam::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
#nguoiquantam::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
#nguoiquantam::-webkit-scrollbar-track {
    background-color: #eee;
} 
.eachcare{
	width: 250px;
	height: 50px;
	background-color: white;
	display: inline-block;
	margin: 0px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	border: 1px thistle solid;

}
.nocansee input{
	color: white;
}
/* .e1{
	position: fixed;
} */