@charset "utf-8";
/* CSS Document */

/* @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap'); */

*{
	margin: 0px;
	padding: 0px;
}
body{
	height: auto;
	background-color: #ddd;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: gray;
	text-rendering: optimizeLegibility;
}

@media screen and (max-width: 400px){
	.header{
		height: 30px;
	}
}
/*..................................*/
/*header*/
.header{
	color: white;
	border: 1px gray solid;
	border-radius: 5px;
	left: 3px;
	right: 3px;
	position: fixed;
	background-attachment: fixed;
	height: 50px;
	top: 0;
	background-color: #f0f0f0;
	border: thistle 1px solid;
	z-index: 2;
}
header button{
	color: #00a1f2;
}
.icsip{
	font-size: 32px;
	background-color:inherit;
	border: hidden;
}
.cu-p{
	cursor: pointer;
}
.logo{
	position: fixed;
	
	border: 1px gray solid thin;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 50px;
	 
} 

#title{
	font-family: 'Baloo Bhai', cursive;
	color: #F172A1;
	position: fixed;
	display: inline;
	top: 0px;
	left: 110px;
	font-size: 230%;
	padding: 0;
	line-height: 60px;
}
#slogan{
	color: darkgray;
	position: fixed;
	z-index: 10;
	/* border: 1px gray solid; */
	height: 50px;
	width: 590px;
	padding:0px;
	top: 0px;
	left: 50%;
	transform: translate(-50%);
	font-size: 180%;
	font-family: 'Pattaya', sans-serif;
}
.news{	 
	position: fixed;
	left: 1050px;
	border: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	 
}
.moneys{ 
	position: fixed;
	left: 1120px;
	border: hidden;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.options{ 
	position: fixed;
	right: 50px;
	/* background-color:#00a1f2;	 */
	border: hidden;
	width: 30px;
	height: 50px;
	border-radius: 50%; 
}
/*..................................*/

/*letrai*/

.letrai{
	position: fixed;
	border: 1px solid thistle;
	width: 60px;
	height: 572px;
	top: 55px;
	left: 3px;
	border-radius: 5px;
	/* padding-left: 10px; */
	padding-top: 20px;
	background-color:#ddd;
	color: #00a1f2;
}
.letrai button{
	color: #00a1f2;
}
.yourinfo{ 
	width: 60px;
	height: 60px;
	padding: 0px;
	border: hidden;
	text-decoration: none;
}

.message{	 
	margin-top: 10px;
	width: 60px;
	height: 60px;
	padding: 0px;
	border: hidden;
	text-decoration: none;
}

.knews{	 
	margin-top: 10px;
	width: 60px;
	height: 60px;
	padding: 0px;
	border: hidden;
	text-decoration: none;
}
.bxhcn{	 
	margin-top: 10px;
	width: 60px;
	height: 60px;
	padding: 0px;
	border: hidden;
	text-decoration: none;
}

.careful{
	margin-top: 10px;
	width: 60px;
	height: 60px;
	padding: 0px;
	border: hidden;
	text-decoration: none;
}

.letrai button:hover{
	background-color: #1251A0;
}
/*..................................*/
/*content*/
.content{
	position: fixed;
	/* z-index: 1; */
	top: 55px;
	/* margin-left: 5px; */
	left: 6%;
	max-width: 945px;
	height: 800px;
	min-height: 600px;
	padding-top: 5px;
	padding-left: 8px;
	padding-bottom: 100px;
	background-color: #ddd;
	border: 1px solid thistle;
	border-radius: 5px;
	box-shadow: thistle 2px 2px 5px;
	overflow: auto;
}
.content::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
.content::-webkit-scrollbar-thumb {
	border-radius: 2px;
    background-color: gray;
}
.content::-webkit-scrollbar-track {
    background-color: #eee;
} 
/* đăng status */
.mycreats{
	color: black;
	position: fixed;
	z-index: 1;
	height: 42px;
	width: 200px;
	border:thistle 1px solid;
	border-radius: 10px;
	background-color: #eee;
}
/* tùy chọn hiển thị */
.tabmenu1{
	position: fixed;
	z-index: 1;
	margin-left: 269px;
	margin-top: 0px;
	height: 55px;
	width: 600px;
	text-align: center;
	padding: 0px;
	list-style: none;
	font-family: 'Calistoga', cursive;
}
.tabmenu1 li{
	display: inline-block;
	
}
.tabmenu1 li a{
	background-color: #eee;
	transition: 1s;
}
.tabmenu1 li a:hover{
	background-color: white;
}
.setcons{
	float: left;
	font-size: 35px;
	left: 0px;
	margin-left: 0px;
	margin-right: 3px;
	/* width: 192px;
	height: 43px; */
	background-color: white;
	border: thistle 1px solid;
	border-radius: 10px;
	text-decoration: none;
}
.setcons div{
	font-family: 'Calistoga', cursive;
	margin: 5px;
	color: black;
	font-size: 24px;
	height: 30px;
	/* border: 1px gray solid; */
	width: 140px;
}

/* nội dung hiển thị ở ... */
.tabcontents{
	position: relative;
	top: 60px;
	/* border: 1px gray solid; */
	/* display: block; */
	height: auto;
	margin-bottom: 10px;
	color: black;
}
.hop1s{
	position: relative;
	outline: none;
	display: inline-block;
	width: 462px;
	height: 520px;
	background-color: white;
	border:thistle 1px solid;
	border-radius: 10px;
	/* box-shadow: gray 1px 1px 2px; */
	margin-right: 0px;
	color: black;
	margin-bottom: 20px;
}
.hop2s{
	position: relative;
	display: inline-block;
	width: 940px;
	height: 520px;
	background-color: lightcoral;
	border:thistle 1px solid;
	border-radius: 10px;
	box-shadow: gray 1px 1px 2px;
}

/* tiêu đề hộp hiển thị */
.headhs{
	position: absolute;
	/* top: 0px; */
	width: 462px;
	height: 42px;
	/* background-color: aqua; */
	border-bottom: thistle 1px solid;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}
.avt{
	width: 38px;
	height: 38px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	background-color: floralwhite;
	border: 1px gray solid;
}
.posiavths{
	position: absolute;
	left: 5px;
	top: 1px;
	background-image: url(../img/dp.jpg);
}
.banthems{
	position: absolute;
	
	border: 3px gray solid;
	width: 40px;
	height: 40px;
	right: 0px;
	border: hidden;
	border-radius: 50px;
	color: #00a1f2;
	font-size: 24px;
	/* background-color: #00a1f2; */
}
#nickname{
	
	position: absolute;
	top:3px;
	left: 50px;
	color: black;
}
#timeoftus{
	font-size: 12px;
	position: absolute;
	top: 28px;
	left: 50px;
	color: black;
}
#khoangcach{
	font-size: 12px;
	position: absolute;
	top: 28px;
	left: 100px;
	color: black;
}
/* hiển thị status */
.statushs{
	position: absolute;
	top: 42px;
	width: 450px;
	height: 67px;
	/* background-color: turquoise; */
	border-bottom: thistle 1px solid;
	padding-top: 5px;
	padding-left: 10px;
	color: black;
}
/* hiển thị ảnh  */
.contenths{
	position: absolute;
	bottom: 45px;
	width: 462px;
	height: 369px;
	background-color: cadetblue;
	outline: #979A9A 1px solid;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/dbbg.jpg);
}
.img1{
	background-image: url(../img/thuy1.jpg);
}
.img2{
	background-image: url(../img/trang1.jpg);
}
.img3{
	background-image: url(../img/thuong1.jpg);
}
.img4{
	background-image: url(../img/son1.jpg);
}
/* đuôi của stutus */
.endhs{
	position: absolute;
	bottom: 0px;
	width: 462px;
	height: 45px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: thistle;
	padding: 0xp;
}
.endhs button{
	color: aqua;
}
.thatims{
	position: absolute;
	border-radius: 50%;
	top: 3px;
}

.binhluans{
	position: absolute;
	top: 3px;
	left: 65px;
}
.chonnhans{
	position: absolute;
	top: 3px;
	left: 130px;
}
.quantams{
	position: absolute;
	top: 3px;
	left: 410px;
}

.lephai{
	position: fixed;
	border: 1px solid thistle;
	width: 300px;
	height: 595px;
	top: 55px;
	right: 5px;
	border-radius: 5px;
	padding-top: 1px;
	padding-bottom: 3px;
	background-color:#ddd;
	color: white;
	overflow-y: auto;
	overflow-x: hidden;
}
.lephai::-webkit-scrollbar {
    width: 0px;
} 
.tabmenu2{
	position: absolute;
	width: 50px;
	height: 170px;
	background-color: lightcoral;
	right: -40px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: 1s;
	z-index: 1000;
}
#manche{
	position: absolute;
	width: 50px;
	height: 200px;
	background-color: #eeeeee;
	right: -50px;

}
.rankdisplay{
	overflow: auto;
}
.tabmenu2:hover{
	right: 0px;
}
.sexisms{
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.lgbt{
	background-image: url(../img/lgbt.png);
	background-size: cover;
	background-position: center;
	width: 32px;
	height: 32px;
	background-color: inherit;
	border: hidden;
}
.ranks{
	width: 280px;
	height: 56px;
	left: 6px;
	margin-top: 4px;
	display: block;
	padding: 0px;
	position: relative;
	border-radius: 8px;
	z-index: 1;
	background-color: white;
	border: thistle 1px solid;
}
.ranks:hover{
	background-color: #504768;
	/* width: 285px;
	height: 60px; */
}


.ranks:hover #avttrender{
	height: 43px;
	width: 43px;
}

#stts{
	position: absolute;
	margin-top: 3px;
	height: 50px;
	width: 32px;
	display: inline-block;
	padding: 0px;
	text-align: center;
	color: #e4340d;
	font-weight: 540;
	font-family: 'Baloo Bhai', cursive;
	font-size: 150%;
}
#avttrender{
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-top: 5px;
	left: 35px;
	background-color: gainsboro;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: inline-block;
}
#nametrender{
	position: absolute;
	/* border: #00a1f2 1px solid; */
	left: 78px;
	top: 3px;
	font-size: 17px;
	height: 20px;
	max-width: 170px;
	font-style: normal;
	font-family: Arial;
	color: black;
	display: inline-block;
	font-weight: 700;
	outline: none;
}
#scoretrender{
	position: absolute;
	top: 3px;
	right: 5px;
	height: 20px;
	max-width: 45px;
	float: right;
	/* border: #F172A1 1px solid; */
	color: #4ed2b8;
	font-size: 16px;
	text-align: right;
}
#slogantrender{
	position: absolute;
	top: 23px;
	left: 78px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 34px;
	max-width: 200px;
	color: black;
	/* border: #00a1f2 1px solid; */
	outline: none;
	text-align: left;
	line-height: 14px;
}




/* */


/*..................................*/


.bolocgt{
	color: #000;
	height: 40px;
	width: 40px;
	/* border-radius: 50%; */
	/* border: 1px gray solid; */
	position: fixed;
	z-index: 1;
	margin-left: 890px;
	margin-top: 5px;
	text-align: center;
	padding: 0px;
	list-style-type: none;
	
}
.bolocgt:hover{
	height: 200px;
}
.bolocgt:hover .sexisms2{
	display: block;
}
.allsex{

	width: 40px;
	height: 40px;
	padding: 0px;
	text-align: center;
	background-color: #E64398;
	border-radius: 50%;

}

.sexisms2{
	width: 40px;
	height: 40px;
	padding: 0px;
	text-align: center;
	background-color: #E64398;
	border-radius: 50%;
	display: none;
	margin-top: 10px;
}

.end{	
	position: absolute;
	z-index: -1;
	height: 100px;
/*	width: 1100px;*/
	background-color: yellowgreen;
	background-size: cover;
	border: 1px gray solid;
}


/* #fake{
	margin-top: 2000px;
} */